/* General  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir-Next, Roboto, sans-serif;
}
.no-list-style {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.grid {
  display: grid;
}

/* table styles */
td,
th {
  text-align: center;
  padding: 12px;
}

table {
  border-collapse: collapse;
}

td {
  color: #8a8a8a;
}

table,
th,
td {
  border: 1px solid #fff;
}

/* Styles for navbar */
a.right {
  color: rgb(102, 100, 100);
}
.nav-links-container.flex {
  align-items: center;
}
.nav-container.flex {
  align-items: center;
}
.nav-list > li {
  display: inline;
}
.right > img {
  width: 30px;
  height: 30px;
  line-height: 1.5rem;
}
.brand > a > img {
  width: 90px;
  height: 30px;
}
.flex.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.right {
  padding-right: 20px;
}
.btn-nav {
  background-color: #4992ca;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  font-size: 20px;
}
.btn-nav-apply {
  background-color: rgb(235, 119, 12);
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
}

/* style for homepage */
.header-container {
  height: fit-content;
  background-image: url("/assets/images/home\ bg.jpeg");
  position: relative;
  z-index: -2;
}
.main_heading {
  font-size: 90px;
  color: #fff;
}
.main_content {
  font-size: 33px;
  color: #fff;
  margin-top: 20px;
}
.apply_button {
  background-color: #4992ca;
  display: block;
  padding: 5px 40px 5px 40px;
  color: #fff;
  margin-top: 20px;
}
.schedule {
  display: block;
  padding: 10px 18px 10px 18px;
  background: transparent;
  color: #fff;
  margin-top: 20px;
  border-radius: 2px;
}
.learnmore {
  border-radius: 15px;
  padding: 10px 30px 5px 30px;
  margin-top: 20px;
}
.centered {
  padding: 70px;
}
.btn-group > button {
  margin-top: 10px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #000000b3;
  z-index: -1;
}

/* Styles for what are pocket monsters section */
.pm-container-main {
  font-family: Avenir-Next, Roboto, sans-serif;
  background: #4992ca;
  padding-top: 15px;
  color: #fff;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 70px;
  height: fit-content;
}
.pm-text {
  text-align: center;
  padding-top: 30px;
}
.pm-container-text {
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.pm-paragraph {
  text-align: center;
  margin-top: 15px;
  line-height: 1.5rem;
}
.pm-icon {
  text-align: center;
  padding-top: 10px;
}
.pm-card-container.flex {
  width: auto;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.pm-card {
  width: 315px;
}

/* Styles for statistics section */
.main-stat-cont {
  font-family: Avenir-Next, Roboto, sans-serif;
  text-align: center;
  padding: 40px 0 40px 0;
  width: 900px;
  margin: auto;
}
.stat-text-big {
  font-size: 45px;
  padding-bottom: 40px;
  
}
.stat-text-small {
  font-size: 30px;
  font-weight: 400;
}
.stat-card {
  margin-right: 30px;
}
.stat-card > p {
  margin-top: 40px;
  text-align: center;
}
.stat-card > img {
  padding-top: 20px;
  width: 250px;
  height: 250px;
}
.stat-card-cont {
  justify-content: center;
  align-items: center;
}

.buy-btn.forstat {
  margin: 40px 0 40px 0;
}
/* Styles for pokemon games */
.stat-card > figure > img {
  width: 200px;
  height: 200px;
  padding: 20px;
}

/* Style for spotlight */
.spotlight-main {
  font-family: Avenir-Next, Roboto, sans-serif;
  text-align: center;
  padding: 0 150px 35px 150px;
}
.spotlight-main.trainers {
  background-color: #4992ca;
  color: #fff;
  padding-top: 50px;
}
.spotlight-img {
  margin-right: 30px;
}
.spotlight-img > img,
.spotlight-img-text > img {
  width: 250px;
  height: 250px;
}
.spotlight-img-text > img {
  width: 150px;
  height: 50px;
}
.spotlight-img-text {
  margin-right: 30px;
}
.spotlight-text-big {
  font-size: 30px;
  font-weight: 100;
}
.spotlight-text-small {
  font-size: 15px;
  font-weight: 100px;
}
.spotlight-card {
  margin-top: 20px;
  color: rgb(105, 104, 104);
}
.spotlight-card.trainers {
  color: #fff;
}
/* Styles for Question and answer */
.qa-cont-main {
  text-align: center;
  padding: 50px 150px 50px 150px;
  background-color: #4992ca;
  color: #fff;
  line-height: 30px;
}
.cont-main-text-big {
  font-size: 45px;
}
.cont-main-text-small {
  margin-top: 20px;
}
.qa-cont-lists {
  text-align: left;
  margin-top: 20px;
}
.cont-list-ul > li {
  margin-left: 80px;
}

/* Styles for battles container main */
.bat-cont-main {
  padding: 50px 230px 50px 230px;
  text-align: center;
  line-height: 30px;
}
.bat-cont-box {
  gap: 30px;
  text-align: left;
}
.bat-box-cont1 {
  flex: 1;
}
.bat-box-cont2 {
  flex: 2;
}
.bat-box-cont-child {
  margin-bottom: 30px;
}
.bat-box-cont-child.bold {
  margin-top: 10px;
  font-weight: bold;
}
.tickets {
  color: #4992ca;
}
.buy-btn {
  color: #fff;
  background-color: #4992ca;
  border: none;
  padding: 10px 80px 10px 80px;
  margin-top: 10px;
}
.bat-text-small {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Styles for know more section */
.know-main {
  background-color: #424242;
  color: #fff;
  text-align: center;
}
.bluebg {
  background-color: #4992ca;
  color: #fff;
  text-align: center;
}

.know-main-text {
  padding-top: 30px;
}
.know-main-btn {
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 10px 80px 10px 80px;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  border-radius: 2px;
}
.know-main-input {
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 10px 150px 10px 0px;
  background-color: white;
  border: none;
  color: white;
}
input[type="text"]::placeholder {
  text-align: left;
}
input[type="submit"] {
  border-radius: 2px;
}
/* style for cards */
.card-text-med {
  text-align: center;
  padding: 10px;
  font-size: 27px;
}
.card-text-small {
  padding-top: 15px;
  color: rgb(83, 83, 83);
}
.card-text-big {
  text-align: center;
  color: rgb(83, 83, 83);
  font-size: 45px;
}
.card-text-parag {
  text-align: center;
  padding: 20px;
}

.links {
  text-align: left;
  color: black;
}

.card-cont {
  width: 245px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: auto;
  border-top: 20px solid #4992ca;
}

.cardText {
  padding: 0;
  text-align: center;
  background-color: rgba(45, 45, 45, 0.1);
}

.card-main-cont {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* styles for card-generation */
.gen-card-main-cont {
  color: rgb(78, 78, 78);
  text-align: center;
  padding: 20px 150px 20px 150px;
}
.gen-card-cont.flex {
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.gen-card-text-big {
  margin-bottom: 30px;
}
.gen-card {
  width: 400px;
  height: 470px;
  line-height: 25px;
  border: 1px solid rgb(138, 137, 137);
  border-top: 20px solid #4992ca;
  text-align: left;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.gen-card-text-small {
  padding: 20px 0 20px 0;
}
.gen-card-bg-style {
  background-color: rgb(230, 224, 224);
  padding: 10px;
}
.gen-card-text-parag {
  padding: 10px;
}


/* styles for designers */
.designers {
  justify-content: center;
  gap: 80px;
  margin: 40px 0 40px 0;
  flex-wrap: wrap;
}
.designers-header {
  background-color: #4992ca;
  padding: 40px 0 40px 0;
  text-align: center;
  color: #fff;
}
.designers-header.logos {
  background-color: #fff;
  padding: 40px 0 40px 0;
  text-align: center;
  color: rgb(126, 125, 125);
}
.designers-header>h2 {
font-size: 45px;
}
.person {
  width: 25%;
}
.design-container {
  border-radius: 50%;
}
.img1 {
  width: 150px;
}
.img2 {
  width: 150px;
}
.img3 {
  width: 150px;
}

.name {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.title {
  font-size: 15px;
}

/* Styles for footer */
.footer {
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  background: rgb(18, 18, 19);
  color: #fff;
}
.person>ul {
  list-style: none;
}
.person {
  text-align: center;
  margin: auto;
  line-height: 30px;
}
.fab {
  padding: 20px;
  color: #fff;
}
.li-header {
  color: rgb(153, 151, 151);
  font-weight: bold;
}
.person>ul>a {
  color: #fff;
}